.sectionHover:hover{
    background-color: #dfdfdf;
    box-shadow: 3px 3px rgb(203, 202, 202);
    border-radius: 10px;
}
body{
    background-color: #0b0b0b;
    background-size: cover;
    font-size: 20px;
}

.login{
    position: absolute;
    top:50%;
    margin-top: -200;
    left: 50%;
    margin-left:-200px;
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    text-align: 5px 40px;
    box-sizing: border-box;
}
p{
    font-size :42px;
    font-weight:600;
}
.btn{
    background-color: #000000;
    width:38%;
    height:48px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    color:white
}
input{
    background-color: whitesmoke;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    border:none;
    border-bottom: 2px solid silver;
    outline:none;
    font-size: 22px;
}
.btn:hover{
    background-color: #ffb6c1;
}
.orderImg{
    width: 40px;
    height: 40px;
}
.fontsize{
    font-size: xx-large;
}
.fontsize2{
    font-size: large;
    color: rgb(68, 13, 13);
}
.fontsize3{
    font-size: larger;
}

.fontsize5{
    font-size: 10px;
}

.threeColLayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.someBlock{
    display: block;
    list-style:square;
    font-size: x-large;
}
.clickchange{
    font-size: x-large;
    color: rgb(143, 13, 13);
}

body{
    color: rgba(255, 255, 255, 0.744);
    background-color: rgb(246, 246, 246);
}
.loginImg{
    width: 30px;
    height: 30px;
}
img{
    width: 250px;
    height: 250px;
}
h1{
    color: black;
}
h2{
    color: red;
}
header{
    background-color: black;
    box-shadow:5px 3px #d5d3d3;
    display: flex
}
nav{
    color: black;
    background-color: #d5d3d3;
}
aside{
    color:black;
    background-color: #e9e7e7;
}

main{
color: #0b0b0b;
}

footer{
    background-color: #000;
}

a{
    color: white;
    text-decoration: none;
    padding: 0;

}


header a{
    color: white;
}
header a:hover{
    color: #ffb6c1;
    text-shadow: 1px 1px rgb(255, 252, 252);
    
}

header table tr{
    border-collapse:collapse;
    display:inline;
    text-align: end;
}
ul{
    list-style:none;
    display:flex;
    font-size: larger;
}
ul li{
    margin-left: 10px;
}

main section{
    border-color: #000;
}

@media screen and (min-width:900px) {
aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


main section{
    display: inline;
    margin: 5px;
}
}


@media screen and (min-width:1300px) {
    body{
        margin: 0;
    }
    main{
        margin: 0%;
    };
    aside{
        margin: 0%;
    }   
}

.container{
    font-size: 30px;
    overflow: hidden;
    margin: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.container table{
    border-collapse: collapse;

}
.container th{
    color: #fff;
    background-color:#a89d9d;
}
.container td{
    text-align: center;
}

.container2{

    font-size: 24px;
    margin: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.container2 table{
    display: inline;
    border-collapse: collapse;

}
.container2 th{
    color: #fff;
    background-color:#a89d9d;
}
.container2 td{
    text-align: center;
}



.container3{
    display: absolute;
    font-size: 18px;

    background-color: #fff;

}
.container3 table{
    display: inline;
    border-collapse: collapse;

}
.container3 th{
    color: #fff;
    background-color:#4d4d4d;
}
.container3 td{
    text-align: center;
}

.container4{

    font-size: 24px;
    margin: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.container4 table{
    display: inline;
    border-collapse: collapse;

}
.container4 th{
    color: #fff;
    background-color:#060606;
}
.container4 td{
    text-align: center;
}



