
{% extends "base2.html" %}
    
{%block title%}
Home page
{%endblock%}

{%block aside_content%}
<section>
<form class="fontsize2" method="POST" action="" novalidate>
        {{form.hidden_tag()}}
        <table class="container2">
            
            <tr>
                <th>{{form.gender.label}}</th>
                <td>{{form.gender()}}</td>
            </tr>
            <tr>
                <th>{{form.price.label}}</th>
                <td>{{form.price()}}</td>
            </tr>
            <tr>

                <th>{{form.type.label}}</th>
                <td>{{form.type()}}</td>
            </tr>
            <tr>
                <td colspan="2">{{form.submit()}}</td>
            </tr>
        </table> 

</form>
{%endblock%}


{% block main_content %}
<section class="threeColLayout">
{% for jewel in jewels%}
<section class="sectionHover">

        <ul><li><a href="{{ url_for( 'admin_product',jewel_id=jewel['jewel_id']) }}"><img src="{{url_for('static',filename=jewel['name']~ '.jpg')}}" alt="Image"></a></li></ul>
        <ul class="fontsize3">
        <li>Product: {{ jewel["name"]}}</li>
        <li>Stock: {{ jewel["stock"]}}</li>
        <li>{{ jewel["price"]}} €</li>
        <li>{{ jewel["gender"]}}</li>
        <li>{{ jewel["type"]}}</li>
        <li>
            </li>
        </ul>

</section>
{%endfor%}
</section>
{% endblock %}