{% extends "base2.html" %}
{% block main_content %}
    <form class="login" action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        {{ form.admin_id.label }}
        {{ form.admin_id()}}
        {% for error in form.admin_id.errors %}
            {{ error}}
        {% endfor %}
        <br />
        {{ form.password.label }}
        {{ form.password()}}
        {% for error in form.password.errors %}
            {{ error}}
        {% endfor %}
        <br />
        {{ form.submit() }}
        {{message}}
    </form>
{% endblock %}